nav.navbar.navbar-expand-lg.navbar-light.fixed-top
  a.navbar-brand(href="#") Vieweb
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  div.collapse.navbar-collapse#navbarNav
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href="/") Inicio 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href="#pricing") Planes
      li.nav-item
        a.nav-link(href="#requirements") Requerimientos
    div.ml-auto
      a.btn.btn-custom-primary.btn-lg(href="/signup" role="button") Registrarse
      a.btn.btn-custom-secondary.btn-lg(href="/login" role="button") Entrar
